# Data exploration

The [Kaggle Expedia Hotel Recommendations](https://www.kaggle.com/c/expedia-hotel-recommendations) dataset is used to train a Hotel Recommender for email marketing.

The dataset is not used to predict a hotel cluster id based on interactions with the website but to help travelers discover new hotels.

# Exploring the Data

In [11]:
import pandas as pd

train = pd.read_csv('../data/raw/train.csv', nrows=18500000)

In [12]:
train.head()

,date_time,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,...,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,is_booking,cnt,hotel_continent,hotel_country,hotel_market,hotel_cluster
0,2014-08-11 07:46:59,2,3,66,348,48862,2234.2641,12,0,1,...,0,1,8250,1,0,3,2,50,628,1
1,2014-08-11 08:22:12,2,3,66,348,48862,2234.2641,12,0,1,...,0,1,8250,1,1,1,2,50,628,1
2,2014-08-11 08:24:33,2,3,66,348,48862,2234.2641,12,0,0,...,0,1,8250,1,0,1,2,50,628,1
3,2014-08-09 18:05:16,2,3,66,442,35390,913.1932,93,0,0,...,0,1,14984,1,0,1,2,50,1457,80
4,2014-08-09 18:08:18,2,3,66,442,35390,913.6259,93,0,0,...,0,1,14984,1,0,1,2,50,1457,21

In [13]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18500000 entries, 0 to 18499999
Data columns (total 24 columns):
date_time                    object
site_name                    int64
posa_continent               int64
user_location_country        int64
user_location_region         int64
user_location_city           int64
orig_destination_distance    float64
user_id                      int64
is_mobile                    int64
is_package                   int64
channel                      int64
srch_ci                      object
srch_co                      object
srch_adults_cnt              int64
srch_children_cnt            int64
srch_rm_cnt                  int64
srch_destination_id          int64
srch_destination_type_id     int64
is_booking                   int64
cnt                          int64
hotel_continent              int64
hotel_country                int64
hotel_market                 int64
hotel_cluster                int64
dtypes: float64(1), int64(20), object(3)
memory usage: 3.3+ GB

In [14]:
grouped_hotel_clusters = train[train['is_booking'] == 1].groupby('user_id')['hotel_cluster'].apply(list).reset_index(
    name='hotel_clusters_list'
)

In [15]:
grouped_hotel_clusters

        user_id                         hotel_clusters_list
0             5                                        [41]
1             7                                         [5]
2             8                                        [91]
3            11                            [45, 68, 73, 91]
4            12                                         [1]
5            13                 [64, 64, 5, 29, 29, 46, 46]
6            14                                        [21]
7            15                                        [54]
8            17                                        [15]
9            18                                     [69, 5]
10           20                                     [9, 91]
11           26                                    [59, 33]
12           27                                        [17]
13           33                        [48, 70, 68, 68, 32]
14           34                                [37, 33, 82]
15           35                                        [41]
16           37                    [30, 30, 41, 23, 90, 92]
17           41                                    [25, 73]
18           46                                    [13, 23]
19           50                                    [42, 51]
20           51                                        [42]
21           67                                        [26]
22           72                                        [40]
23           97                            [65, 91, 50, 80]
24          103                                    [86, 82]
25          108                                         [1]
26          114                                [47, 79, 39]
27          115  [34, 81, 80, 3, 2, 20, 14, 12, 62, 81, 48]
28          119                                [65, 41, 41]
29          125                                    [72, 55]
...         ...                                         ...
399612  1198690                                        [50]
399613  1198691                                    [67, 58]
399614  1198695                                         [0]
399615  1198698                                        [48]
399616  1198700                                    [91, 91]
399617  1198701                                        [42]
399618  1198702                                    [26, 25]
399619  1198703                             [43, 15, 4, 65]
399620  1198705                         [0, 48, 18, 59, 39]
399621  1198707                                        [40]
399622  1198714                                        [21]
399623  1198716                                [83, 47, 47]
399624  1198717                        [40, 81, 62, 60, 33]
399625  1198720                                        [71]
399626  1198722                        [62, 13, 50, 50, 50]
399627  1198727                                    [65, 41]
399628  1198729                                        [10]
399629  1198730                                        [43]
399630  1198731                             [4, 16, 43, 72]
399631  1198734                                        [70]
399632  1198736                                        [78]
399633  1198744                                         [5]
399634  1198749                                         [2]
399635  1198752                                        [87]
399636  1198754                                        [84]
399637  1198765                                        [61]
399638  1198771                                        [82]
399639  1198778                                        [14]
399640  1198783                            [50, 40, 91, 47]
399641  1198784                                        [79]

[399642 rows x 2 columns]

In [16]:
filtered_grouped_hotel_clusters = grouped_hotel_clusters[grouped_hotel_clusters['hotel_clusters_list'].map(len) > 4]

In [17]:
filtered_grouped_hotel_clusters

        user_id                                hotel_clusters_list
5            13                        [64, 64, 5, 29, 29, 46, 46]
13           33                               [48, 70, 68, 68, 32]
16           37                           [30, 30, 41, 23, 90, 92]
27          115         [34, 81, 80, 3, 2, 20, 14, 12, 62, 81, 48]
30          127            [16, 9, 91, 91, 15, 15, 72, 44, 93, 16]
39          162                               [54, 83, 33, 48, 25]
47          192                               [61, 50, 98, 75, 42]
48          193                                 [2, 2, 91, 25, 91]
49          195                       [18, 91, 49, 42, 16, 18, 95]
54          206                            [91, 75, 91, 9, 49, 36]
70          259                               [94, 18, 42, 42, 28]
73          266       [83, 17, 96, 72, 21, 21, 17, 72, 72, 21, 84]
76          272  [28, 28, 91, 91, 28, 28, 91, 91, 7, 41, 6, 32,...
77          274                            [48, 6, 28, 16, 16, 40]
81          279                               [68, 11, 70, 70, 68]
83          286                            [0, 55, 55, 90, 37, 70]
84          298                         [6, 42, 33, 42, 9, 28, 13]
92          328                   [28, 0, 42, 7, 0, 91, 0, 28, 91]
95          332                               [46, 64, 25, 36, 64]
100         340                               [99, 99, 61, 38, 38]
102         348                               [98, 25, 39, 44, 17]
135         451                            [58, 64, 64, 2, 41, 34]
143         466                           [32, 49, 37, 18, 23, 34]
155         513                             [18, 78, 2, 5, 99, 25]
157         515        [16, 74, 99, 43, 43, 43, 43, 43, 43, 5, 43]
181         596                           [76, 89, 48, 48, 48, 91]
188         614                               [83, 77, 47, 49, 49]
193         627                         [15, 1, 9, 39, 91, 41, 59]
196         650             [3, 96, 91, 24, 16, 91, 9, 36, 78, 91]
197         654             [56, 56, 91, 33, 95, 94, 21, 68, 6, 2]
...         ...                                                ...
399405  1198052                                [89, 4, 41, 70, 41]
399411  1198070                            [41, 19, 41, 9, 28, 28]
399420  1198094                               [51, 51, 15, 51, 15]
399422  1198104                            [56, 56, 56, 46, 5, 41]
399423  1198105                                [9, 31, 37, 22, 70]
399424  1198106                   [55, 48, 62, 62, 62, 62, 62, 63]
399425  1198109                   [45, 45, 79, 79, 47, 42, 48, 42]
399426  1198115  [91, 25, 96, 18, 98, 28, 41, 17, 68, 68, 25, 9...
399429  1198124       [95, 18, 98, 21, 56, 59, 59, 10, 48, 16, 14]
399436  1198143                                [42, 42, 7, 18, 48]
399442  1198178                           [33, 48, 48, 48, 48, 48]
399446  1198195               [92, 22, 94, 92, 92, 69, 69, 25, 70]
399449  1198214                               [51, 14, 14, 14, 14]
399450  1198216               [82, 46, 10, 99, 82, 59, 29, 36, 33]
399454  1198229            [91, 16, 48, 47, 48, 18, 91, 48, 91, 5]
399455  1198234                   [18, 79, 51, 48, 17, 17, 51, 41]
399458  1198239          [68, 91, 98, 7, 6, 91, 13, 1, 45, 78, 97]
399465  1198252                                [41, 64, 64, 13, 6]
399469  1198270                   [55, 98, 28, 69, 98, 41, 98, 41]
399526  1198454                        [21, 72, 90, 90, 90, 0, 26]
399531  1198472  [59, 58, 59, 11, 11, 67, 25, 25, 98, 98, 59, 5...
399532  1198476  [95, 91, 41, 11, 28, 68, 68, 68, 11, 11, 11, 5...
399533  1198480                            [1, 91, 50, 47, 13, 13]
399565  1198557                             [6, 59, 15, 28, 40, 6]
399588  1198634                               [91, 91, 47, 47, 47]
399605  1198673                            [48, 28, 72, 18, 18, 2]
399609  1198681                           [10, 10, 54, 98, 38, 82]
399620  1198705                                [0, 48, 18, 59, 39]
399624  1198717                               [40, 81, 62, 60, 33]
399626  1198722                               [62, 13, 50, 50, 50]

[85384 rows x 2 columns]

In [18]:
sentences = [[str(_item) for _item in _list] for _list in filtered_grouped_hotel_clusters['hotel_clusters_list']]

In [19]:
sentences[:3]

[['64', '64', '5', '29', '29', '46', '46'],
 ['48', '70', '68', '68', '32'],
 ['30', '30', '41', '23', '90', '92']]